<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Donations</title>
</head>
<body>
	<div>
		<p>
			Hi <span th:text="${name}"></span>,
		</p>

		<p>Thanks for taking out your time and participating/donating in this noble
			cause.</p>

		<p>
			Your certificate is attached to this mail.
		</p>

		<p>
			Thanks again,<br /> Team Mission Possible<br /> Facebook Page : <a
				href="https://www.facebook.com/Mission-Possible-Hand-in-Hand-107416768221089">Mission
				Possible - Hand in Hand</a><br /> Instagram Page : <a
				href="https://www.instagram.com/missionpossible_handinhand/">missionpossible_handinhand</a>
		</p>
	</div>
</body>
</html>